<!DOCTYPE html>
<html class="x-admin-sm" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>邮件模板</title>
    <style>
        .dh_head{
            height: 60px;
            width: 100%;
            background: #000;
        }
        .head_text{
            color: white;
            height: 60px;
            line-height: 60px;
            margin-left: 20px;
            font-size: 20px;
        }
    </style>
</head>
    <body>
        <div class="dh_head">
            <div class="head_text">
                General system of data acquisition and data visualization
            </div>
        </div>
        <div>
            <!--/*@thymesVar id="user" type="java.lang.String"*/-->
            <h1 th:text="'尊敬的'+${user}+'您好：'">您好</h1>
            <!--/*@thymesVar id="check" type="java.lang.String"*/-->
            <p th:text="'您目前正在注册我们的账户，我们将验证您的邮箱，验证码为'+${check}+'，请您在15分钟之内填写验证码'"></p>
        </div>
    </body>
</html>